.idea
.vscode
**/cert
**/bin

**/.DS_Store

go.work
go.work.sum

/api/**/*.pb.go
/api/**/*.pb.validate.go

/app/**/conf/*.pb.go
/app/**/cmd/server/wire_gen.go

/app/**/internal/data/ent/*
!/app/**/internal/data/ent/schema/
!/app/**/internal/data/ent/generate.go
